{% extends 'base.html' %}{% load i18n static %} {% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}" />{% endblock %} {% block page_title %}Login | Sign-up{% endblock %} {% block content %}
<div class="login-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#login" role="tab">Log In</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="login" role="tabpanel">
                        <h1>My Photo Gallery</h1>
                        <h4>Welcome! Please log in</h4>
                        <!--Login Form -->
                        <form method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-group input-group">
                                <span class="input-group-addon" id="sizing-addon1 id_username">{{ form.username.label_tag }}</span>
                                <input type="text" class="form-control" name="username" maxlength="150" id="id_username" aria-describedby="sizing-addon1" required>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon" id="sizing-addon2 id_password">{{ form.password.label_tag }}</span>
                                <input type="password" class="form-control" name="password" maxlength="128" id="id_password" aria-describedby="sizing-addon2" required>
                            </div>
                            <div class="form-group input-group justify-content-end"><button type="submit" name="login-btn" id="login-btn" class="btn btn-outline-default">Log In</button></div>
                        </form>
                        {% if form.errors %}
                        <div class="alert-danger col-lg-12 p-3 mt-2">
                            <p>Your username and password didn't match. Please try again.</p>
                        </div>
                        {% endif %}
                        <div class="col-lg-12 text-center">
                            <p class="signup"><a href="{% url 'accounts:register' %}">Sign Up</a></p>
                            <p class="forgot"><a href="{% url 'accounts:password_reset' %}"><small>Forgot Password</small></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
