{% extends 'base.html' %}{% load i18n static %} {% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}" />{% endblock %} {% block page_title %}Reset Password{% endblock %}{% block content %}
<div class="forgot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block content_title %}
                <h1>{{ title }}</h1>{% endblock %} {% if validlink %}
                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                <form method="post">{% csrf_token %}
                    <!--Set new password -->
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="sizing-addon1 id_new_password1">{% trans 'New Password:' %}</span>
                        <input type="text" class="form-control" name="password1" id="id_new_password1" maxlength="128" aria-describedby="sizing-addon1" required> {{ form.new_password1.errors }}
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="sizing-addon2 id_new_password1">{% trans 'Confirm Password:' %}</span>
                        <input type="text" class="form-control" name="password2" id="id_new_password2" maxlength="128" aria-describedby="sizing-addon2" required> {{ form.new_password2.errors }}
                    </div>
                    <button type="submit" name="reset" id="id_reset" class="btn btn-outline-secondary">{% trans 'Change Password' %}</button>
                </form>
                {% else %}
                <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
