{% extends 'base.html' %}{% load i18n static %} {% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}" />{% endblock %} {% block page_title %}Change Password{% endblock %}{% block content %}
<div class="forgot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block content_title %}
                <h1>{{ title }}</h1>{% endblock %}

                <form method="post">{% csrf_token %}
                    <!--Check for form errors-->
                    {% if form.errors %}
                    <div class="alert-danger">
                        <p>
                            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                        </p>
                    </div>
                    {% endif %}

                    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                    <!--Enter old password -->
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="sizing-addon1 id_old_password">{% trans 'Old Password:' %}</span>
                        <input type="text" class="form-control" name="old_password" id="id_old_password" maxlength="128" aria-describedby="sizing-addon1" required> {{ form.old_password.errors }}
                    </div>
                    <!--Enter New password -->
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="sizing-addon2 id_new_password1">{% trans 'New Password:' %}</span>
                        <input type="text" class="form-control" name="password1" id="id_new_password1" maxlength="128" aria-describedby="sizing-addon2" required>{% if form.new_password1.help_text %}
                        <div class="help">{{ form.new_password1.help_text|safe }}</div>
                        {% endif %} {{ form.new_password1.errors }}
                    </div>
                    <!--Confirm password -->
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="sizing-addon3 id_new_password1">{% trans 'Confirm Password:' %}</span>
                        <input type="text" class="form-control" name="password2" id="id_new_password2" maxlength="128" aria-describedby="sizing-addon3" required>{% if form.new_password2.help_text %}
                        <div class="help">{{ form.new_password2.help_text|safe }}</div>
                        {% endif %} {{ form.new_password2.errors }}
                    </div>
                    <button type="submit" name="reset" id="id_reset" class="btn btn-outline-secondary">{% trans 'Change Password' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
