{% extends 'base.html' %}{% load i18n static %} {% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}" />{% endblock %} {% block page_title %}Reset Password{% endblock %}{% block content %}
<div class="forgot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Password Reset</h1>
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form method="post">{% csrf_token %}
                    <!--Set new password -->
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="sizing-addon1 id_email">{% trans 'Email address:' %}</span>
                        <input type="email" class="form-control" name="email" id="id_email" maxlength="254" aria-describedby="sizing-addon1" required>
                    </div>
                    <button type="submit" name="reset" id="id_reset" class="btn btn-outline-secondary">{% trans 'Reset Password' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
